{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/admin/comment.css">
{% endblock %}
{% block navbar %}
    {% include 'navbar.html.twig' %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Gestion des commentaires</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fiche associée</th>
                            <th>Date</th>
                            <th>Auteur</th>
                            <th class="text-center">Voir</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in datas %}
                            <tr class="{% if data.comment.valid == 0 %}not-valid{% else %}valid{% endif %}">
                                <td>
                                    {{ data.job.name }}
                                </td>
                                <td>{{ data.comment.date|date("d/m/Y") }}</td>
                                <td>{{ data.comment.firstname }} {{ data.comment.lastname }}</td>
                                <td class="text-center">
                                    <a href="/admin/comment-view/{{ data.comment.id }}">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <nav class="nav-pagination" aria-label="Page navigation">
                <ul class="pagination">
                    <li {% if active == 1 %}class="disabled"{% endif %}>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for i in 1..offset %}
                        <li {% if i == active %} class="active" {% endif %}><a href="#">{{ loop.index }}</a></li>
                    {% endfor %}
                    <li {% if active == offset %}class="disabled"{% endif %}>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}