{% extends 'layout.html.twig' %}

{% block navbar %}
    {% include 'Admin/navbar.html.twig' %}
{% endblock %}

{% block banner %}
    {% include 'banner.html.twig' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/admin/themes-jobs.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Ajouter une thématique</h2>
                <form action="/admin/add-theme" method="post" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" id="newTheme" name="themeName" placeholder="Entrez le nom du nouveau thème">
                        <button type="submit" class="btn btn-default">Envoyer</button>
                    </div>
                </form>
                {% if (addTheme.success is defined) %}
                    <p class="text-success">{{ addTheme.success }}</p>
                {% elseif (addTheme.danger is defined) %}
                    <p class="text-danger">{{ addTheme.danger }}</p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>Ajouter une fiche métier</h2>
                <a href="/admin/add-job" class="btn">Ajouter une fiche métier</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
            <h2>Modification des thèmes et des fiches métiers</h2>
            </div>
            {% if deleteTheme.success is not empty %}
                <span class="green">{{ deleteTheme.success }}</span>
            {% endif %}
            {% for theme in themes %}
                <div class="col-xs-12 themes">
                    {% if deleteTheme.danger is not empty and theme.id == deleteTheme.id %}
                    <p><span class="red">{{ deleteTheme.danger }}</span></p>
                    {% endif %}
                    <h2 class="inline">{{ theme.name }}</h2>
                    <a class="btn-modification inline" href="/admin/update-theme/{{ theme.id }}"><span class="glyphicon glyphicon-pencil modification" aria-hidden="true"></span></a>
                    <form action="/admin/delete-theme" method="POST" class="inline" confirm="Vous allez supprimer le thème '{{ theme.name }}'. Ceci sera irréversible.">
                        <input type="hidden" value="{{ theme.id }}" name="id">
                        <button type="submit" class="suppression">
                            <span class="glyphicon glyphicon-remove delete" aria-hidden="true"></span>
                        </button>
                    </form>
                </div>
                <div class="col-xs-12 themes">
                   <table class="table">
                       <thead>
                       <tr>
                           <th>Titre fiche</th>
                           <th>Thématique</th>
                           <th></th>
                       </tr>
                       </thead>
                        <tbody>
                        {% for job in jobs if (job.themeId == theme.id) %}
                        <tr>
                            <td width="30%">{{ job.name }}</td>
                            <td width="30%">{{ theme.name }}</td>
                            <td width="20%" align="right"> <a class="btn-modification inline" href="/admin/update-job/{{ job.id }}"><span class="glyphicon glyphicon-pencil modification" aria-hidden="true"></span></a><form action="/admin/delete-job" method="POST" class="inline" confirm="Vous allez supprimer la fiche '{{ job.name }}'. Ceci sera irréversible.">
                                    <input type="hidden" value="{{ job.id }}" name="id">
                                    <button type="submit" class="suppression">
                                        <span class="glyphicon glyphicon-remove delete" aria-hidden="true"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table></div>

            {% endfor %}



        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="/assets/js/confirm.js"></script>
{% endblock %}
