{% extends 'layout.html.twig' %}

{% block navbar %}
    {% include 'Admin/navbar.html.twig' %}
{% endblock %}

{% block banner %}
    {% include 'banner.html.twig' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/admin/view-comment.css">
{% endblock %}

{% block content %}
    <div class="container">
        <form action="/admin/comment-update" method="POST">
            <input type="hidden" name="id" value="{{ data[0].comment.id }}">
            <div class="row">
                <div class="col-xs-12 col-sm-offset-1">
                    <h1>Commentaire de
                        <span class="orange">{{ data[0].comment.firstname }} {{ data[0].comment.lastname }}</span>
                    </h1>
                    <h2>Fiche : <span class="orange">{{ data[0].job.name }}</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-xs-12 col-md-5">
                    <p><span class="bold">Nom :</span> {{ data[0].comment.lastname }}</p>
                    <p><span class="bold">Prénom :</span> {{ data[0].comment.firstname }}</p>
                    <p><span class="bold">Adresse mail :</span> {{ data[0].comment.email }} </p>
                    <p><span class="bold">Ancien wilder :</span> {{ (data[0].comment.wilder == 1) ? 'Oui' : 'Non' }}</p>
                    <p><span class="bold">Profession :</span> {{ data[0].comment.profession }}</p>
                    <p><span class="bold">Entreprise :</span> {{ data[0].comment.company }}</p>
                </div>
                <div class="col-xs-offset-2 col-xs-12 col-sm-offset-3 col-md-offset-0 col-md-6">
                    <div class="col-xs-6 col-md-5">
                        <div class="thumbnail">
                            <img src="/{{ data[0].comment.avatar }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-offset-1 col-xs-12 col-sm-offset-4 col-sm-6 col-md-offset-6 col-md-4">
                    <input type="radio" id="yes" name="avatar" value="yes" checked>
                    <label for="yes">Conserver</label>
                    <span> | </span>
                    <label for="no">Ne pas conserver</label>
                    <input type="radio" id="no" name="avatar" value="no">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-xs-12 col-sm-10 col-md-9">
                    <h3>Les plus du métier</h3>
                    <p class="answer">
                        {{ data[0].comment.question1 }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-xs-12 col-sm-10 col-md-9">
                    <h3>Les moins du métier</h3>
                    <p class="answer">
                        {{ data[0].comment.question2 }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-xs-12 col-sm-10 col-md-9">
                    <h3>Commentaire libre</h3>
                    <p class="answer">
                        {{ data[0].comment.question3 }}
                    </p>
                </div>
            </div>
            <div class="col-xs-offset-2 col-xs-4 col-sm-offset-3 col-md-offset-3 col-md-2">
                <input type="submit" value="Valider" class="btn btn-success">
            </div>
        </form>
        <form action="/admin/delete-comment" method="POST" confirm="Confirmez-vous la suppression du commentaire ?">
            <input type="hidden" name="id" value="{{ data[0].comment.id }}">
            <div class="col-xs-3 col-md-offset-1 col-md-2">
                <input type="submit" value="Supprimer" class="btn btn-danger">
            </div>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script src="/assets/js/confirm.js"></script>
{% endblock %}
