{% extends "layout.html.twig" %}

{% block navbar %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block banner %}
    {% include 'banner.html.twig' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/form.css">
{% endblock %}

{% block content %}
    <div class="container">
        <form action="/job/{{ job.id }}/add-comment" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-11 col-sm-offset-2 col-sm-10 col-md-10">
                    <div class="form-group">
                        <input type="hidden" name="job_id" value="{{ job.id }}">
                        <h1>Commentaire de la fiche <span class="orange">{{ job.name }}</span></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-inline">
                    <div id="div-avatar" class="col-xs-offset-1 col-sm-offset-2 col-xs-10 col-sm-8">
                        <img id="photo" src="/assets/images/avatar/default_avatar.jpg" class="img-circle" width="90" height="90" alt="image">
                        {% if errors is not empty %}
                            {% set countErrors = 0 %}
                            {% for error in errors.image %}
                                {% for err in error if err is not empty %}
                                    <p class="text-danger">{{ err }}</p>
                                    {% set countErrors = countErrors + 1 %}
                                {% endfor %}
                            {% endfor %}
                            {% if countErrors == 0 %}
                                <p class="text-success">l'upload a été accepté</p>
                            {% endif %}
                        {% endif %}
                        <label for="avatar" class="label-file">Ajouter votre avatar (.jpg, .png ou .gif)</label>
                        <input id="avatar" name="avatar" type="file"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-inline">
                    <div class="col-xs-offset-1 col-sm-offset-2 col-xs-10 col-sm-4">
                        <div class="form-group">
                            {% if errors is not empty %}
                                {% set countErrors = 0 %}
                                {% for error in errors.lastname %}
                                    {% for err in error if err is not empty %}
                                        <span class="red">{{ err }}</span><br/>
                                        {% set countErrors = countErrors + 1 %}
                                    {% endfor %}
                                {% endfor %}
                                {% if countErrors == 0 %}
                                    <span class="green">Champ valide</span>
                                {% endif %}
                            {% endif %}
                            <label class="sr-only" for="lastname">Nom</label>
                            <input class="form-control" type="text" id="lastname" name="lastname"
                                   placeholder="Votre nom ici .. (*)" required
                                    {% if inputs.lastname is not empty %}value="{{ inputs.lastname }}"{% endif %}>
                        </div>
                    </div>
                    <div class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-4">
                        <div class="form-group">
                            {% if errors is not empty %}
                                {% set countErrors = 0 %}
                                {% for error in errors.firstname %}
                                    {% for err in error %}
                                        <span class="red">{{ err }}</span><br/>
                                        {% set countErrors = countErrors + 1 %}
                                    {% endfor %}
                                {% endfor %}
                                {% if countErrors == 0 %}
                                    <span class="green">Champ valide</span>
                                {% endif %}
                            {% endif %}
                            <label class="sr-only" for="firstname">Prénom</label>
                            <input class="form-control" type="text" id="firstname" name="firstname"
                                   placeholder="Votre prénom ici .. (*)" required
                                   {% if inputs.firstname is not empty %}value="{{ inputs.firstname }}"{% endif %}>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-inline">
                    <div class="col-xs-offset-1 col-sm-offset-2 col-xs-10 col-sm-5">
                        <div class="form-group">
                            {% if errors is not empty %}
                                {% set countErrors = 0 %}
                                {% for error in errors.email %}
                                    {% for err in error %}
                                        <span class="red">{{ err }}</span><br/>
                                        {% set countErrors = countErrors + 1 %}
                                    {% endfor %}
                                {% endfor %}
                                {% if countErrors == 0 %}
                                    <span class="green">Champ valide</span>
                                {% endif %}
                            {% endif %}
                            <label class="sr-only" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email"
                                   placeholder="Adresse email .. (*)" required
                                   {% if inputs.email is not empty %}value="{{ inputs.email }}"{% endif %}>
                        </div>
                    </div>
                    <div class="col-xs-offset-5 col-sm-offset-1 col-xs-4 col-sm-3 checkbox">
                        <div class="form-group">
                            <label for="wilder">
                                <input type="checkbox" id="wilder" name="wilder" value="1"> Wilder
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-inline">
                    <div class="col-xs-offset-1 col-sm-offset-2 col-xs-10 col-sm-4">
                        <div class="form-group">
                            {% if errors is not empty %}
                                {% set countErrors = 0 %}
                                {% for error in errors.profession %}
                                    {% for err in error %}
                                        <span class="red">{{ err }}</span><br/>
                                        {% set countErrors = countErrors + 1 %}
                                    {% endfor %}
                                {% endfor %}
                                {% if countErrors == 0 %}
                                    <span class="green">Champ valide</span>
                                {% endif %}
                            {% endif %}
                            <label class="sr-only" for="profession">Profession</label>
                            <input class="form-control" type="text" id="profession" name="profession"
                                   placeholder="Votre profession ici .. (*)" required
                                   {% if inputs.profession is not empty %}value="{{ inputs.profession }}"{% endif %}>
                        </div>
                    </div>
                    <div class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-4">
                        <div class="form-group">
                            {% if errors is not empty %}
                                {% set countErrors = 0 %}
                                {% for error in errors.company %}
                                    {% for err in error %}
                                        <span class="red">{{ err }}</span><br/>
                                        {% set countErrors = countErrors + 1 %}
                                    {% endfor %}
                                {% endfor %}
                                {% if countErrors == 0 %}
                                    <span class="green">Champ valide</span>
                                {% endif %}
                            {% endif %}
                            <label class="sr-only" for="company">Entreprise</label>
                            <input class="form-control" type="text" id="company" name="company"
                                   placeholder="Votre entreprise ici .. (*)" required
                                   {% if inputs.company is not empty %}value="{{ inputs.company }}"{% endif %}>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row firstTextarea">
                <div class="col-xs-offset-1 col-sm-offset-2 col-xs-10 col-sm-8">
                    <h3>Ce que vous aimez le plus dans votre métier</h3>
                    {% if errors is not empty %}
                        {% set countErrors = 0 %}
                        {% for error in errors.question1 %}
                            {% for err in error %}
                                <span class="red">{{ err }}</span><br/>
                                {% set countErrors = countErrors + 1 %}
                            {% endfor %}
                        {% endfor %}
                        {% if countErrors == 0 %}
                            <span class="green">Champ valide</span>
                        {% endif %}
                    {% endif %}
                    <textarea name="question1" id="q1" cols="0" rows="0" maxlength="255"
                              placeholder="Votre réponse ici .. (*)" required
                    >{% if inputs.question1 is not empty %}{{ inputs.question1 }}{% endif %}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-sm-offset-2 col-xs-10 col-sm-8">
                    <h3>Ce que vous aimez le moins dans votre métier</h3>
                    {% if errors is not empty %}
                        {% set countErrors = 0 %}
                        {% for error in errors.question2 %}
                            {% for err in error %}
                                <span class="red">{{ err }}</span><br/>
                                {% set countErrors = countErrors + 1 %}
                            {% endfor %}
                        {% endfor %}
                        {% if countErrors == 0 %}
                            <span class="green">Champ valide</span>
                        {% endif %}
                    {% endif %}
                    <textarea name="question2" id="q2" cols="0" rows="0"  maxlength="255"
                              placeholder="Votre réponse ici .. (*)" required
                    >{% if inputs.question2 is not empty %}{{ inputs.question2 }}{% endif %}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-sm-offset-2 col-xs-10 col-sm-8">
                    <h3>Commentaires libres</h3>
                    {% if errors is not empty %}
                        {% set countErrors = 0 %}
                        {% for error in errors.question3 %}
                            {% for err in error %}
                                <span class="red">{{ err }}</span><br/>
                                {% set countErrors = countErrors + 1 %}
                            {% endfor %}
                        {% endfor %}
                        {% if countErrors == 0 %}
                            <span class="green">Champ valide</span>
                        {% endif %}
                    {% endif %}
                    <textarea name="question3" id="q3" cols="0" rows="0"  maxlength="255"
                              placeholder="Votre réponse ici .. (*)" required
                    >{% if inputs.question3 is not empty %}{{ inputs.question3 }}{% endif %}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-2 col-md-offset-2 col-xs-8 col-sm-4 col-md-4">
                    <input type="submit" value="Envoyer mon commentaire" class="btn btn-lg btnComment">
                </div>
                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-3">
                    <a id="back" href="/job/{{ job.id }}" class="btn btn-lg pull-right btnComment">Revenir à la fiche métier</a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
{% block javascript %}<script src="/assets/js/comment.js"></script>{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}