{% extends "layout.html.twig" %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/job.css">
{% endblock %}
{% block navbar %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block banner %}
    {% include 'banner.html.twig' %}
{% endblock %}

{% block content %}

    <div class="container">

        <a href="/jobs"><button class="btn btn-lg">retour</button></a>
        <h3>{{job.name}}</h3>

        <div id="description" class="page-header">
            {% if job.video is empty and job.image is empty %}
            <div class="col-sm-12 col-md-12">
            {% endif %}
            {% if job.video is not empty or job.image is not empty %}
            <div class="col-sm-12 col-md-8">
            {% endif %}
                <p>{{job.description|nl2br}}</p>
            </div>
            <div class="col-sm-12 col-md-4">
                {% if job.video %}
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe width="560" height="315" class="iframe embed-responsive-item" frameborder="0"
                            src="{{ job.video }}"></iframe>
                </div>
                {% endif %}
                {% if job.video is empty and job.image is not empty %}
                    <img src="/{{ job.image }}" alt="image du métier en cours" class="img-responsive" style="margin-bottom: 5vh">
                {% endif %}

            </div>
        </div>
    </div>


    <div class="container" id="comments" data-jobId="{{ job.id }}">
        <div id="row-comments" class="row">
            {% include 'load-comment.html.twig' %}
        </div>
        <div class="row align-center">
            <div class="col-md-6 col-xs-12">
                <button id="voirPlus" class="btn btn-lg">Voir plus de commentaires</button>
            </div>

            <div class="col-md-6 col-xs-12">
                <a href="/job/{{ job.id }}/add-comment">
                    <button class="btn btn-lg">Ajouter un commentaire</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascript %}
    <script src="/assets/js/load-comments.js"></script>
    <script src="/assets/js/add-like.js"></script>
{% endblock %}