{% for comment in comments %}
    {% if loop.index % 4 == 0 or loop.index == 1 %}
    <div class="row">
    {% endif %}
        <div class="col-md-4 col-xs-12 active one-comment">
            <div class="row row-height">
                <div class="col-md-4 col-xs-4">
                    <div class="row row-avatar">
                        <img src="{{ comment.avatar }}" class="circle-avatar">
                    </div>
                </div>
                <div class="col-md-8 col-xs-8">
                    <div class="row">
                        <h4 class="p-margin bold">{{ comment.firstname }} {{ comment.lastname }}</h4>
                    </div>
                    <div class="row min-row">
                        {% if comment.wilder == 1 %}
                            <p class="p-margin gray">Ancien wilder</p>
                        {% endif %}
                    </div>
                    <div class="row">
                        <p class="p-margin gray">Travaille à : {{ comment.company }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="row">
                        <img src="../../assets/images/quotes.png" alt="guillemets" width=60">
                    </div>
                    <div class="row glyph">
                        <a href="/like/{{ comment.id }}/{{ comment.jobId }}">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        </a>
                        <p class="nb-like">{{ comment.like }}</p>
                    </div>
                </div>
                <div class="col-md-8 col-xs-8">
                    <div class="row">
                        <h5 class="bold">Les plus du métier</h5>
                        <p class="border-left">{{ comment.question1 }}</p>
                    </div>
                    <div class="row">
                        <h5 class="bold">Les moins du métier</h5>
                        <p class="border-left">{{ comment.question2 }}</p>
                    </div>
                    <div class="row">
                        <h5 class="bold">Commentaire libre</h5>
                        <p class="border-left">{{ comment.question3 }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% if loop.index % 3 == 0 %}
    </div>
    {% endif %}
{% endfor %}
